<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <form action="/services{{ID}}" method="{{Method}}">
    <h3>Please insert the description of the service to add</h3>
    <p>name: <input type="text" name="name"/></p>
    <p>location: <input type="text" name="location"/></p>
    <p>hours: <input type="text" name="hours"/></p>
    <p>description: <input type="text" name="description"/></p>
    <input type = "submit" name="foo" value = "Submit Subaru"/>
    </form>
</body>
</html>
