<!doctype html>
<title>Secret</title>
<head>
    <script src="static/jquery.js"></script>
    <script src="static/jquery-ui.js"></script>
</head>
<body>
    <script>
        $( document).ready(function(){
            $("#ButtonClick").click(function( event) {
                console.log("click");
                $("#Result").html("waiting");
                $.ajax({
                    type: "POST",
                    url: "/Secret",
                    datatype: "json",
                    contentType: "application/json",
                    data: '{"code" :"' + $("#searchSecret").val() +'"}'
                })
            })
        });
    
    </script>


    <h2>User: {{username}} - {{name}}</h2>
    <h3>Secret code: {{code}}</h3>
    <input type="text" name="" id="searchSecret" />
    <input type="submit" value="Search" id="ButtonClick"/>

    <form action="/Secretlogout"><input type="submit" value="Logout"/></form>

    <div id="Result">User requested</div>
</body>