<!doctype html>
<title>Secret</title>
<head>
    <script src="static/jquery.js"></script>
    <script src="static/jquery-ui.js"></script>
</head>
<body>
    <script>
        $( document).ready(function(){
            $.ajax({
                type: "GET",
                url: "/Secretlistener",
                dataType: "json",
                cache: false,
                contentType: "application/json",
                success: function (data) {
                    console.log(data);
                    
                    $("#Result").html(data);
                }
            });
            $( "#ButtonClick" ).click(function( event ) {
            console.log("click");
            $.ajax({
                type: "POST",
                url: "/Secret",
                datatype: "json",
                contentType: "application/json",
                data: '{"code":"' + $("#searchSecret").val() + '"}',
                success: function (data) {
                    console.log(data);

                    $("#Result").html(data);
                }
            });
        });
        });
    
    </script>

    <div>
        <h2>User: {{username}} - {{name}}</h2>
        <h3>Secret code: {{code}}</h3>
        <input type="text" name="" id="searchSecret" />
        <input type="submit" value="Search" id="ButtonClick"/>

        <form action="/Secretlogout"><input type="submit" value="Logout"/></form>
    </div>

    <div id="Result">User requested</div>


</body>