<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
</head>
<body>
<h1>Available services</h1>

{% for item in result %}
    <ul>
        <li>
            <ul>
                <a href="/services_id?ID={{item}}">{{item['ID']}}</a>
            </ul>
        </li>
    </ul>
{% endfor %}

<a href="/">Main</a>
<form action="/serviceChange" method="post">
<select name = "ID">
 {{Options}}
  <option value="new">Create new ID</option>
</select>
    <button type = "submit" value = "New Service">New Service!</button>
</form>
</body>
</html>
